import Config

config :ex_gram, token: "1234567890:abcdefghijklmnopqrstuvwxyz123456789"

config :ics_fluminus_bot,
  id: 123_456_789,
  credential: %{username: "nusstu\\e0123456", password: "hunter2"},
  state_base_dir: "./"
